#delete,#update{
    display: none;
}

table a{
    text-decoration: none;
    color:black;
}

#waiting-add, #waiting-fetch, #waiting-delete, #waiting-update, #waiting-user-info{
    display: none;
}

.navbar a{
    font-weight: bold;
}